@import '../..'

body
  blue: palette(blue, 30)
  green: palette(green, 30)
  teal: palette(teal, 30)
  purple: palette(purple, 30)
  magenta: palette(magenta, 30)
  red: palette(red, 30)
  orange: palette(orange, 30)
  yellow: palette(yellow, 30)
  gray: palette(gray, 30)
  black: palette(black)
  white: palette(white)
  cool-gray: palette(cool-gray, 30)
  warm-gray: palette(warm-gray, 30)
  neutral-white: palette(neutral-white, 30)
  cool-white: palette(cool-white, 30)
  warm-white: palette(warm-white, 30)