test {
  blue: #5aaafa;
  green: #8cd211;
  teal: #41d6c3;
  purple: #ba8ff7;
  magenta: #ff71d4;
  red: #ff7d87;
  orange: #ff7832;
  yellow: #efc100;
  gray: #aeaeae;
  black: #000;
  white: #fff;
  cool-gray: #aeb8b8;
  warm-gray: #b8aeae;
  neutral-white: #f4f4f4;
  cool-white: #f0f2f4;
  warm-white: #f7f5f5;
}
test-short-syntax-1 {
  blue-short: #5aaafa;
  green-full: #c8f08f;
}
test-short-syntax-2 {
  green-short: #010200;
  green-short-2: #010200;
  green-full: #010200;
}
test-short-syntax-3 {
  green-full: #c8f08f;
}