body {
  blue: #5aaafa;
  green: #8cd211;
  teal: #41d6c3;
  purple: #ba8ff7;
  magenta: #ff71d4;
  red: #ff7d87;
  orange: #ff7832;
  yellow: #efc100;
  gray: #aeaeae;
  black: #000;
  white: #fff;
  cool-gray: #aeb8b8;
  warm-gray: #b8aeae;
  neutral-white: #f4f4f4;
  cool-white: #f0f2f4;
  warm-white: #f7f5f5;
}

